@font-face {
    font-family: 'Norse';
    src: url('assets/fonts/Norse-Bold.woff2') format('woff2'),
         url('assets/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
	font-family: 
	system-ui, 
	"Segoe UI", 
	Roboto, 
	Helvetica, 
	Arial, 
	sans-serif, 
	"Apple Color Emoji", 
	"Segoe UI Emoji", 
	"Segoe UI Symbol";

	background-color: rgb(224, 224, 224);
	display: flex;
}
/*b-img and hero-banner rules*/
.hero-container {
	width: 1400px;
	height: 1270px;
	flex: 0 0 auto;
	overflow: hidden;
	position: relative;
}

.hero-container > img {
	display: block;
	width: 100%;
	height: 100%;
}

.logo-banner {
	display: flex;
	width: inherit;
	height: 300px;
	position: absolute;
	top: 200px;
	background-color: rgba(0, 0, 0, 0.45);
}

.logo-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	gap: 1em;	
}

.logo-wrapper > span {
	font-family: 'Norse', sans-serif;
	color: rgb(255, 255, 255);
	font-size: 8rem;
}

.logo-wrapper > * {
	opacity: 0.85;
}

.img-credit-wrapper {
	position: relative;
	bottom: 40px;
	display: flex;
	justify-content: center;
}

.credit-text,
.credit-text > a {
	color: rgb(255, 255, 255);
}

/*Main content rules*/
.main-content-container {
	border: 2px solid red;
	display: flex;
	width: 100%;
}

.content-wrapper {
	border: 2px solid blue;
	width: inherit;
	margin-top: 50px;
	padding: 50px;
}

.header-text {
	width: 850px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header-text > * {
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.3;
}

/*Form rules*/

form {
	border: 2px solid orange;
}

.form-content-wrapper {
	border: 2px solid brown;
}

label {
	text-transform: uppercase;
}

label, 
input {
	display: block;
	margin-bottom: 0.2rem;
}