@font-face {
    font-family: 'Norse';
    src: url('assets/fonts/Norse-Bold.woff2') format('woff2'),
         url('assets/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
	font-family: 
	system-ui, 
	"Segoe UI", 
	Roboto, 
	Helvetica, 
	Arial, 
	sans-serif, 
	"Apple Color Emoji", 
	"Segoe UI Emoji", 
	"Segoe UI Symbol";

	background-color: rgb(245, 245, 245);
	display: flex;
}
/*b-img and hero-banner rules*/
.hero-container {
	width: 1100px;
	height: 1270px;
	flex: 0 0 auto;
	overflow: hidden;
	position: relative;
}

.hero-container > img {
	display: block;
	width: 100%;
	height: 100%;
}

.logo-banner {
	display: flex;
	width: inherit;
	height: 300px;
	position: absolute;
	top: 200px;
	background-color: rgba(0, 0, 0, 0.45);
}

.logo-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	gap: 1em;	
}

.logo-wrapper > span {
	font-family: 'Norse', sans-serif;
	color: rgb(255, 255, 255);
	font-size: 8rem;
}

.logo-wrapper > * {
	opacity: 0.85;
}

.img-credit-wrapper {
	position: relative;
	bottom: 40px;
	display: flex;
	justify-content: center;
}

.credit-text,
.credit-text > a {
	color: rgb(255, 255, 255);
}

/*Main content rules*/
.main-content-container {
	display: flex;
	width: 100%;
}

.content-wrapper {
	width: inherit;
	margin-top: 126px;
}

.header-text {
	width: 900px;
	height: 200px;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header-text > * {
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.3;
}

/*Form rules*/
form {
	background-color: rgb(255, 255, 255);
	margin-top: 170px;
	height: 350px;
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	padding-top: 1rem;
	box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.14);
}

form > p {
	font-size: 1.5rem;
	font-weight: 600;
}

.form-content-wrapper {
	height: 250px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 950px;
	margin-top: 26px;
}

label {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 0.3rem;
}

label, 
input {
	display: block;
}

input {
	padding: 0.4rem;
	border-radius: 4px;
	width: 300px;
	margin-bottom: 1.5rem;
	border-color: #E5E7EB;
	border-style: solid;
	outline: none;
}

input:focus {
	border: 2px solid rgb(31, 31, 203);
	box-shadow: 0 0 6px rgba(0, 0, 255, 0.2);
}

input[type="password"]:not(:focus):invalid {
  	border: 2px solid rgb(193, 23, 23);
}

/*Sign up area rules*/
.sign-up-container {
	margin-top: 36px;
	padding-left: 50px;
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

button[type="submit"] {
	width: 230px;
	padding: 1rem;
	border: none;
	border-radius: 10px;
	background-color: #596D48;
	color: rgb(228, 228, 228);
	font-size: 1rem;
	font-weight: 600;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

button[type="submit"] + p {
	font-weight: 600;
	font-size: 1.1rem;
}

button[type="submit"] + p > a {
	color: #596D48;
	font-weight: 700;
	font-size: 1.1rem;
	text-decoration: none;
}
